################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PySpark-Project/brewery_data_complete_extended.csv
